@import "./styles/base.scss";

:root {
  --duration: 1s;
  --primary-color: navy;
  --fg-colour: white;
  --easing: cubic-bezier(0.5, 0, 0.5, 1);
}

body {
  font-family: "Open Sans", sans-serif;
  padding: 5vmin;
  background-color: var(--primary-color);
  color: var(--fg-colour);
}

a {
  color: lightblue;
}

h1 {
  margin: 0;
  color: var(--fg-colour);
  transition: all 0.3s;
}

h1:hover {
  font-size: 10vw;
}

small {
  text-transform: uppercase;
  font-weight: bold;
}

ul {
  margin: 1rem 0;
}

.ball {
  height: 5vmin;
  width: 5vmin;
  left: 50vw;
  border-radius: 50%;
  background: radial-gradient(circle at bottom right, #fb2324, #fe932a);
  background: red;
  animation-name: move-like-a-square, red-to-green;
  animation-duration: 2s;
  animation-iteration-count: 5;
  animation-direction: alternate;
  &:hover {
    background-color: blue;
    transform: scale(2);
  }
}

@keyframes move-like-a-square {
  // 0% {
  //   transform: none;
  // }
  from,
  to {
    transform: none;
  }
  25% {
    transform: translateX(20vw);
  }
  50% {
    transform: translateX(20vw) translateY(20vw);
  }
  75% {
    transform: translateX(0vw) translateY(20vw);
  }
  // 100% {
  //   transform: none;
  // }
}

@keyframes red-to-green {
  from {
    background-color: red;
  }
  to {
    background-color: green;
  }
}
