@import "./styles/base.scss";

:root {
  --duration: 1s;
  --primary-color: navy;
  --fg-colour: white;
  --easing: cubic-bezier(0.5, 0, 0.5, 1);
}

body {
  font-family: "Open Sans", sans-serif;
  padding: 5vmin;
  background-color: var(--primary-color);
  color: var(--fg-colour);
}

a {
  color: lightblue;
}

h1 {
  margin: 0;
  color: var(--fg-colour);
  transition: all 0.3s;
}

h1:hover {
  font-size: 10vw;
}

small {
  text-transform: uppercase;
  font-weight: bold;
}

ul {
  margin: 1rem 0;
}

.ball {
  height: 5vmin;
  width: 5vmin;
  left: 50vw;
  border-radius: 50%;
  background: radial-gradient(circle at bottom right, #fb2324, #fe932a);
  background: red;
  --duration: 0.2s;
  --stagger: 0.1s;
  animation: move-right 0.5s both;

  &:nth-of-type(2) {
    // animation-delay: var(--duration);
    animation-delay: calc(var(--duration) - var(--stagger)); //stagger
  }
  &:nth-of-type(3) {
    // animation-delay: calc(var(--duration) * 2);
    animation-delay: calc(var(--duration) * 2 - var(--stagger)); // stagger
  }
}

@keyframes move-right {
  from {
    transform: none;
  }
  to {
    transform: translateX(25vw);
  }
}
