@import "./styles/base.scss";

:root {
  --duration: 1s;
  --primary-color: navy;
  --fg-colour: white;
  --easing: cubic-bezier(0.5, 0, 0.5, 1);
}

body {
  font-family: "Open Sans", sans-serif;
  padding: 5vmin;
  background-color: var(--primary-color);
  color: var(--fg-colour);
}

a {
  color: lightblue;
}

h1 {
  margin: 0;
  color: var(--fg-colour);
  transition: all 0.3s;
}

h1:hover {
  font-size: 10vw;
}

small {
  text-transform: uppercase;
  font-weight: bold;
}

ul {
  margin: 1rem 0;
}

.ball {
  height: 5vmin;
  width: 5vmin;
  left: 50vw;
  border-radius: 50%;
  background: radial-gradient(circle at bottom right, #fb2324, #fe932a);
  // animation: slide-right var(--duration) var(--easing) infinite;
  background: red;
  // transition-property: background, transform;
  // transition-timing-function: linear, ease-in-out;
  // transition-duration: 1s, 3s; // first value for background and then transform. Needs unit

  transition: all 2s 0.5s ease-in-out; // property, duration, delay, timing function

  &:hover {
    background-color: blue;
    transform: scale(2);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
